body {
	margin: 0;
	padding: 10px;
}

img {
	max-width: 100%;
}

button {
	font-size: 13px;
	outline-width: 100%;
	background-color: white;
}

div.main_content {
	width: 100%;
	margin: 0 auto;
	font-size: 0;
}

/*-------------------aside°Ï°ì------------------- */
aside.aside {
	width: 200px;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	font-size: 1rem;
	margin-right: 0px;
	border: 3px solid #999;
	text-align: center;
	
}

/*--------------------main°Ï°ì-------------------- */
main.main {
	background-color: white;
	width: calc(100% - 200px - 10px);
	height: 620px;
	display: inline-block;
	vertical-align: top;
	font-size: 1rem;
	padding: 10px;
}

table {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

table, th, td {
	border: 1px solid lightgrey;
}

th, td {
	padding: 5px;
	text-align: center;
}

.bck_color {
	background-color: red;
	color: black;
}

li.selected {
	color: green;
}

.a-mod {
	border: 1px solid #ccc;
	background-color: black;
	color: white;
	border-radius: 10px;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-top: 5px;
	padding: 10px 10px;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
	font-weight: bold;
}

.a-mod:hover {
	background-color: gray;
	color: white;
}

.a-mod2:hover {
	background-color: #A3D1D1;
	color: #5B5B00;
}

.a-mod2:link {
	border: 1px solid #ccc;
	background-color: #00AEAE;
	font-color: white;
	border-radius: 10px;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-top: 5px;
	padding: 10px 10px;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
	font-weight: bold;
}

.a-mod span {
	margin-right: 5px;
}

.a-mod3:hover {
	background-color: #A3D1D1;
	color: #5B5B00;
}

.a-mod3:link {
	border: 1px solid #ccc;
	background-color:#79FF79;
	font-color: white;
	border-radius: 10px;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-top: 5px;
	padding: 10px 10px;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
	font-weight: bold;
}




td {
	font-size: 15px;
	font-weight: bold;
}

li {
	font-size: 15px;
	font-weight: bold;
}

input[type="submit"].mod {
	text-align: center;
	padding: 5px 15px;
	border-style: solid;
	background: #009100;
	border-color: black;
	border-collapse: collapse;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	color: white;
}